<h1 class="mt-5 mb-3 text-center">Edit Name Info</h1>

<%= @name.birthname %>
<div class="container ml-5 mr-5">
  <form action="/names/<%= @name.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    Who you checkin' for?<input type='text' name="who" placeholder="<%= @name.who %>"> 
  <br>
  <b>Select your day name</b>
    <select name="birthname" value="<%= @name.birthname %>">
      <option value="Akosua/Akwasi (Sunday)">Akosua/Akwasi (Sunday)</option>
      <option value="Adwoa/Kwadwo">Adwoa/Kwadwo (Monday)</option>
      <option value="Abena/Kwabena (Tuesday)">Abena/Kwabena (Tuesday)</option>
      <option value="Akua/Kwaku (Wednesday)">Akua/Kwaku (Wednesday)</option>
      <option value="Yaa/Yaw (Thursday)"> Yaa/Yaw (Thursday)</option>
      <option value="Afia/Kofi (Friday)">Afia/Kofi (Friday)</option>
      <option value="Ama/Kwame (Saturday)">Ama/Kwame (Saturday)</option>
    </select>
  </p>
  <p>
    <b>Description:</b><br>
    <textarea rows="4" cols="50" name="description" placeholder="<%= @name.description %>"></textarea>
  </p>
  <input type='submit' value='Save this profile'>
</form>





    
</div>
