<% if flash[:message] %>
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <span><%= flash[:message] %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if logged_in? %>
  <div class="card" style="width: 100%;">
    <div class="card-body text-center">
      <h1 class="card-title">User Profile</h1>
      <h2 class="card-subtitle mb-2 text-muted">Username: <%= @user.username %></h2>
    </div>
  </div>
<% end %>

<h2 class="text-center mt-5 mb-5">
    - <a class="text-center" href="/users/<%= @user.id %>/posts"><strong>All Your Names</strong></a> -
</h2>

<h2 class="text-center mt-5 mb-3">- Names You Posted for -</h2>
  <% @user.names.uniq.each do |name| %>
    <div class="d-grid">
      <button class="btn btn-outline-light ms-auto me-auto" role="alert" style="width: fit-content;">
        <h4 class="text-center"><a href="/namelist/<%= name.id %>"><%= name.name %></a></h4>
      </button>
    </div>
  <% end %>
<h3 class="text-center text-black-50"><%= "No meanings for any day names yet." if @user.names.empty? %></h3>


